Mule4ByExample/src/main/mule/CallJava.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<java:config name="Java_Config" doc:name="Java Config" doc:id="be3058e8-97c3-4652-b4c4-242ac5b2fcb0" />
	<object doc:name="Object" doc:id="cc6638ea-f8de-4bda-aa1f-55e3fcb440dc" name="myTransformer" class="nz.co.troyshaw.mule.MyTransformerClass" />
	<object doc:name="Object" doc:id="714ec38b-4d4c-4946-b5e5-1803c6b168f9" name="jsonProcessor" class="nz.co.troyshaw.mule.JsonProcessor" />
	<flow name="CallJavaInvokeOnInstanceBean" doc:id="cbebba00-528f-40e1-880a-70082ccfb866" doc:description="Calls an instance method on a Java bean, passing in data to a parameter.">
		<http:listener doc:name="Listener" doc:id="c286d4a1-9a4b-4f47-b223-5ae930f0968d" config-ref="HTTP_Listener_config" path="/invokeJava1"/>
		<java:invoke doc:name="Invoke" doc:id="1c52adf8-76aa-4e2a-b15f-0bad1c788167" class="nz.co.troyshaw.mule.MyTransformerClass" method="transform(String)" instance="myTransformer">
			<java:args ><![CDATA[#[{arg0: payload.value}]]]></java:args>
		</java:invoke>
	</flow>
	<flow name="CallJavaStaticMethodInvoke" doc:id="44517a4d-3d9f-4ba5-afec-333d7f9890c5" >
		<http:listener doc:name="Listener" doc:id="578db0c6-5866-45c3-97b6-6cf324ff1e5c" path="/javaStaticMethod" config-ref="HTTP_Listener_config"/>
		<java:invoke-static doc:name="Invoke static" doc:id="afe856b1-78ba-49f3-ad38-60cb0bdb0d5b" class="nz.co.troyshaw.mule.CallStaticMethod" method="myStaticFunc(String)">
			<java:args ><![CDATA[#[{arg0: payload.value}]]]></java:args>
		</java:invoke-static>
	</flow>
	<flow name="ProcessJsonAsStringInJava" doc:id="1925ed69-c71a-452f-9a07-949a6930945b" >
		<http:listener doc:name="Listener" doc:id="41f79606-99f3-4a5c-a1fa-2bd58163b467" path="/callJavaJson" config-ref="HTTP_Listener_config">
			<http:error-response >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Convert JSON DW to JSON String" doc:id="c38596a0-9a10-4efd-be57-93616462e93c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
write(payload, "application/json")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<java:invoke doc:name="Invoke" doc:id="5ef9e75b-5e5f-40f5-aa78-c1a1611ba4ef" instance="jsonProcessor" class="nz.co.troyshaw.mule.JsonProcessor" method="transform(String)">
			<java:args ><![CDATA[#[{arg0: payload}]]]></java:args>
		</java:invoke>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c6c93693-c921-48a0-8ba7-141bcbff2a79" >
				<ee:transform doc:name="Transform Message" doc:id="816648e6-2c83-4d49-979a-a44385329c68" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	error: "Error while processing value"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
